.containerCard {
  background-color: #fafafa;

  border: 1px solid var(--background);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 6px;
  margin-top: 24px;
  cursor: grab;

  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateX(4px);
  }

  h3 {
    color: #333;
    font-size: 24px;
    margin: 16px 0 8px 0;
    font-weight: normal;
  }

  div {
    display: flex;
    align-items: center;

    button {
      background-color: var(--purple-100);

      & + button {
        background-color:#d00000;
        color: #fff;
      }

      &:hover {
        filter: brightness(0.95)
      }

      &:active {
        scale: 0.8;
      }
    }

    span {
      background-color: yellow;
      border: 1px solid var(--background);
      padding: 8px;
      border-radius: 5px;
      color: #000;
      font-weight: bold;
      font-style: italic;
    }
  }
}

.containerCardCompleted {
  opacity: 0.25;

  background-color: var(--purple-100);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px dashed var(--background);
  padding: 8px;
  border-radius: 6px;
  margin-top: 24px;
  cursor: not-allowed;

  display: flex;
  flex-direction: column;

  h3 {
    color: #fff;
    margin: 16px 0 8px 0;
  }

  div {
    display: flex;
    align-items: center;

    span {
      background-color: #fff;
      border: 1px dashed var(--background);
      padding: 8px;
      border-radius: 5px;
      color: #000;
      font-weight: bold;
    }
  }
}