.headerContainer {
  height: 7rem;
  background-color: #fff;
  color: var(--gray-900);

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    button {
      margin-left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--purple-300);
      width: 80px;
      height: 60px;
      border-radius: 5px;
      border: none;

      &:hover {
        filter: brightness(0.8)
      }

      &:active {
        transform: scale(0.98);
      }

      &:focus {
        outline: 0;
      }

      svg {
        color: #fff;
      }
    }
  }
}